photo_app/myvenv/
photo_app/db.sqlite3
photo_app/templates/
todo_app/myvenv/
todo_app/db.sqlite3
todo_app/templates/
Hello_DRF/myvenv/
Hello_DRF/db.sqlite3
Hello_DRF/templates/
DRF_todo/myvenv/
DRF_todo/db.sqlite3
DRF_todo/templates/
MyBoard/myvenv/
MyBoard/db.sqlite3
MyBoard/templates/